.navbar-toggler span{
  font-size: 26px;
  color: #ffffff !important;
}

.header .navbar{
  background-color: #000;
  height: 150px;
}
.header .navbar .navLink{
  color: #ffffff !important;
  padding: 0 20px;
  margin: 0;
  font-size: 18px;
  border-right: 2px #2f84ca solid;
  text-decoration: none;
}

.header .navbar .navItem:last-child .navLink{
  border-right: 0;
}

.header .logo img{
  max-width: 70px;
}
.logoCont{
  display: flex!important;
  justify-content: center;
  align-items: center;
}

.webLogo div{
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.webLogo div span{
  color: #2f84ca;
}

